{% extends "base.html" %} {% block content %}
<br>
<br>
<div class='text-center'>
    <h2 class='main-text'>Rent your car now!</h2>
</div>
<div class='container'>
    <div class="row">
        <div class="col-sm-2 col-md-3">
            <div class="card" style="width: 16rem;">

                <img class="card-img-top img-responsive" src="{{object.img.url}}" alt="Card image cap" width="250" height="250">
                <div class="card-body">
                    <br>
                    <br>
                    <a href="#" class="btn btn-primary btn-large">Rent</a>
                </div>
            </div>

        </div>
        <div class="col-sm-8 col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>CarID</th>
                        <th>Description</th>
                        <th>Chassis</th>
                        <th>Engine</th>
                        <th>Type</th>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>Gas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{object.car_id}}</td>
                        <td>{{object.description}}</td>
                        <td>{{object.no_chassis}}</td>
                        <td>{{object.no_engine}}</td>
                        <td>{{object.car_type}}</td>
                        <td>{{object.car_model}}</td>
                        <td>{{object.car_model.car_brand}}</td>
                        <td>{{object.type_gas}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
    </div>
</div>

{% endblock %}