{% extends "base.html" %} {% block content %}

<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="carousel" data-slide-to="0" class="active"></li>
        <li data-target="carousel" data-slide-to="1"></li>
        <li data-target="carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="static/img/car.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="static/img/car666.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="static/img/car7.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class='container marketing'>
    <br>
    <div class='text-center'>
        <h2 class='main-text'>Welcome to UNAPEC Rent Car!</h2>
    </div>
    <hr class='main-div' />




    <div class='row'>
        <div class='col-md-7'>
            <br>
            <br>
            <h3 style="color:white;">New cars</h3>
            <br>
            <br>
            <p class="lead" style="color:white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam amet architecto eveniet provident eos debitis
                vitae quod. Quasi fugiat sed perspiciatis ratione error ex pariatur quisquam tempore. Dolorem, ipsum dolores!</p>
        </div>
        <div class='col-md-5'>
            <img src="static/img/car8.jpg" class="rounded img-fluid mx-auto d-block" alt="500x500" height="500" width="500">
        </div>
    </div>

    <hr class='main-div' />

    <div class='row'>
        <div class='col-md-7 order-md-2'>
            <h3 style="color:white;">New Market place</h3>
            <p class='lead' style="color:white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam amet architecto eveniet provident eos debitis
                vitae quod. Quasi fugiat sed perspiciatis ratione error ex pariatur quisquam tempore. Dolorem, ipsum dolores!</p>
        </div>
        <div class='col-md-5 order-md-1'>
            <img src="static/img/car9.jpg" class="rounded img-fluid mx-auto d-block" alt="500x500" height="500" width="500">
        </div>
    </div>
</div>
<script>
    $('#carousel').carousel({
        interval: 2000
    })
</script> {%endblock%}