{% extends "base.html" %} {% block content %}
<br>
<br>
<div class='text-center'>
    <h2 class='main-text'>Rents!</h2>
    <h2 class='main-text'>{{ message }}</h2>
</div>
<div class='container'>
    <div class="row">
        <form class="form-inline" action="{{ url }}" method="GET" >
           
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Date</label>
                <input type="date" class="form-control" name="date1" placeholder="date">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Date</label>
                <input type="date" class="form-control" name="date2" placeholder="date">
            </div>
            <input type="submit" class="btn btn-primary mb-2"></input>
        </form>
        <br>
        <br>
        <div class="col-sm-12">
            <table class="table" style="margin:0px 0px 0px 0px;">
                <thead>
                    <tr>
                        <th>Rent Date</th>
                        <th>Devolution Date</th>
                        <th>Amount per Day</th>
                        <th>Days</th>
                        <th>Comments</th>
                        <th>Employee</th>
                        <th>Car</th>
                        <th>Client</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    {% if object.status == False %}
                    <tr>
                        <td>{{object.rent_date}}</td>
                        <td>{{object.devolution_date}}</td>
                        <td>{{object.amount_per_day}}</td>
                        <td>{{object.days}}</td>
                        <td>{{object.comments}}</td>
                        <td>{{object.employee}}</td>
                        <td>{{object.car}}</td>
                        <td>{{object.client}}</td>
                        <form method='POST' action="{{ url }}">
                                {% csrf_token %}
                            <input type="hidden" name="rentid" value="{% url 'cars:rentpost' %}">
                            <td><input type="submit" class="btn btn-primary mb-2"></input></td>
                        </form>
                        
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <br>
    </div>
</div>

{% endblock %}