{% extends "base.html" %} {% block content %}
<br>
<br>
<div class='text-center'>
    <h2 class='main-text'>Rent your car now!</h2>
</div>
<br>
<br>
<div class='container'>

    <div class='row'>
        {%for object in object_list%}
        {% if object.status == False %}
        <div class='col-sm-4 '>
           
            <div class="card" style="width: 18rem;">
                <a href="{{object.id}}">
                <img class="card-img-top img-responsive" src="{{object.img.url}}" alt="Card image cap" width="250" height="250">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{object.car_model}}</h5>
                    <p class="card-text">{{object.description}}</p>
                    <a href="{% url 'cars:create_inspection' %}?car_id={{object.id}}" class="btn btn-primary">Rent</a>
                </div>
            </div>
           
        </div>
        {% endif %}
        {%endfor%}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}

            <a href="?page={{ page_obj.next_page_number }}">next</a>
            
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}