{% extends "base.html" %} {% block content %}
<br>
<br> {% load bootstrap %}
<h2> {{ name }}</h2>
<div class="container">
        <div class="row align-items-center">
        <div>
        <form class="form-horizontal" action="{{ url }}" role="form" method="POST">
            {% csrf_token %} {{ form.non_field_errors }} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field
            }} {% endfor %}
            <table class="table" >
                
                {% for field in form %}
                <thead>
                    <tr>
                      
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><label class="control-label" class="col-sm-2">{{ field.label_tag }} </td>
                        <td><div class='col-sm-8'>{{field}}</div></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <div class="form-group">
                <input type="Submit" class="btn btn-primary"></input>
            </div>
        </form>
        </div>
    </div>

</div>

{% endblock %}